<div class="container">
  <h1 class="text-center">Users in Cards Format</h1>
  <hr>
  <section class="cards-section">
    <div class="card" *ngFor="let user of users">
      <h4><strong>Person of Interest: <br />{{user.name}}</strong></h4>
      <hr>
      <div class="container">
        <p>{{user.name.split(" ")[0]}} goes by the username: {{user.username}}</p>
        <p>{{user.name.split(" ")[0]}}'s current geolocation is</p>
        <p><strong>lat:</strong>{{user.address.geo.lat}} and <strong>long:</strong>{{user.address.geo.lng}} </p>

      </div>
    </div>
  </section>
</div>
