/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato:100,400,700&display=swap');

body,
* {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

body {
  position: relative;
}

/* Overrides */
.bg-dark.navbar-dark,
.thead-dark {
  background-color: #58585a !important;
}

a.navbar-brand,
.nav-item>.nav-link {
  color: #fcfcfc !important;
  cursor: pointer;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.container {
  margin: 20px auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

a.github {
  display: block;
  margin: 0 auto;
  text-align: center;
}

ul.links {
  list-style-type: none;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 20px auto;
  width: 50%;
}

ul.links li {
  display: block;
  text-align: center;
  width: 200px;
  color: #fcfcfc;
  border-radius: 5px;
  background: rgba(86, 193, 226, 0.639);
}

ul.links li>a:link,
ul.links li>a:hover {
  color: #fcfcfc;
  text-decoration: none;
}

.footer {
  color: #fcfcfc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 95vh;
  height: 5vh;
  width: 100vw;
  background: #58585a !important;
}


/* Media queries */

@media only screen and (max-width:411px) and (orientation:portrait) {
  .navbar-nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .nav-item {
    width: 30%;
    align-self: flex-end;
  }
}
