<div class="container">
  <h1 class="text-center">
    {{appTitle}}
  </h1>
  <h3 class="text-center">
    {{appDescription}}
  </h3>
  <hr>
  <h4 class="text-center">
    Check out the sample versions by clicking on any of the links below:
  </h4>
  <ul class="links">
    <li><a class="btn btn-primary" routerLink="/table">Table</a></li>
    <li><a class="btn btn-success" routerLink="/cards">Cards</a></li>
  </ul>
  <p class="text-center">Find the repository of this application at:</p>
  <a class="text-center github" href={{githubUrl}} target="_blank"><i class="fa fa-github"></i>
    Angular7 Demo</a>
</div>
<section>
  <router-outlet></router-outlet>
</section>
